body {
  background-color: #EEE;
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 100px;
}

header, footer {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

header a {
  text-decoration: none;
  color: #111;
}

nav {
  display: inline-block;
  max-width: 180px;
  margin-right: 20px;
  vertical-align: top;
}

nav h1 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

nav ul {
  margin-top: 0;
  margin-bottom: 2rem;
}

.photos {
  display: inline-block;
  max-width: calc(100% - 200px);
}

.thumbnail {
  line-height: 0;
  vertical-align: bottom;
}

header {
  border-bottom: 1px solid #777;
  margin-bottom: 2em;
}

footer {
  border-top: 1px solid #777;
  font-size: 80%;
  color: #444;
  margin-top: 2em;
  min-height: 100px;
}

/* Styles for the photo_show template */
.photo_show img {
  max-width: 100%;
}
