body {
  background-color: #EEE;
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 100px;
}

header, footer {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

header a {
  text-decoration: none;
  color: #111;
}

header ol {
  list-style-type: none;
  margin-bottom: 0;
}

header ol li {
  display: inline-block;
  margin: inherit 5px;
  text-transform: capitalize;
}

header ol li:after {
  content: ">";
  padding: 0 5px 0 10px;
}

header ol li:last-child:after {
  content: "";
  padding: 0;
}

header ol li a {
  text-decoration: underline;
}

.photos_index main {
  display: flex;
}

nav {
  flex: none;
  max-width: 180px;
  margin-right: 20px;
  vertical-align: top;
}

nav h1 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

nav ul {
  margin-top: 0;
  margin-bottom: 2rem;
}

/* This is both a flexbox item (of the main element) and a Flexbox container itself (for the photos). */
.photos {
  flex: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0;
}

.photos a img {
  width: 100%;
  height: auto;
}

.event_block {
  margin: 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 36px;
  font-weight: bold;
  color: #ddd;
  background-color: #222;
  padding: 1rem;
}

.event_block.event_start:after {
  content: '\27fb';
}

.event_block.event_end:after {
  content: '\27fc';
}

.keywords {
  margin: 72px 72px 18px;
}

.keywords a {
  text-decoration: none;
  font-size: 90%;
  color: white;
  background: grey;
  border-radius: 20px;
  padding: 5px 10px;
}

.thumbnail, .stamp {
  line-height: 0;
  vertical-align: bottom;
}

.stamp {
  max-width: 96px;
  max-height: 96px;
}

.stamp.current {
  box-sizing: border-box;
  border: 3px solid lightblue;
}


.navigation_arrow {
  text-decoration: none;
  font-size: 72px;
  padding: 0 15px;
  color: black;
}

.streams {
  border-top: 1px solid #777;
}

.stream {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

header {
  border-bottom: 1px solid #777;
  margin-bottom: 2em;
}

footer {
  border-top: 1px solid #777;
  font-size: 80%;
  color: #444;
  margin-top: 2em;
  min-height: 100px;
}

/* Styles for the photo_show template */
.photo_show img {
  max-width: 100%;
  display: block;
}

.photo_with_pagination {
  display: flex;
  align-items: center;
}

.photo_with_pagination img {
  flex-grow: 1;
}
