body {
  background-color: #EEE;
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 100px;
}

header, footer {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

header a {
  text-decoration: none;
  color: #111;
}

.photos_index main {
  display: flex;
}

nav {
  flex: none;
  max-width: 180px;
  margin-right: 20px;
  vertical-align: top;
}

nav h1 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

nav ul {
  margin-top: 0;
  margin-bottom: 2rem;
}

/* This is both a flexbox item (of the main element) and a Flexbox container itself (for the photos). */
.photos {
  flex: auto;
  display: flex;
  flex-flow: row wrap;
}

.photos a {
  max-width: 33%;
}

.event_block {
  width: 33%;
  margin: 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 36px;
  font-weight: bold;
  color: #ddd;
  background-color: #222;
}

.event_block.event_start:after {
  content: '\27fb';
}

.event_block.event_end:after {
  content: '\27fc';
}

.thumbnail {
  line-height: 0;
  vertical-align: bottom;
}

header {
  border-bottom: 1px solid #777;
  margin-bottom: 2em;
}

footer {
  border-top: 1px solid #777;
  font-size: 80%;
  color: #444;
  margin-top: 2em;
  min-height: 100px;
}

/* Styles for the photo_show template */
.photo_show img {
  max-width: 100%;
  display: block;
}
