body {
  background-color: #EEE;
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 100px;
}

header, footer {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

header a {
  text-decoration: none;
  color: #111;
}

header ol {
  list-style-type: none;
  margin-bottom: 0;
}

header ol li {
  display: inline-block;
  margin: inherit 5px;
  text-transform: capitalize;
}

header ol li:after {
  content: ">";
  padding: 0 5px 0 10px;
}

header ol li:last-child:after {
  content: "";
  padding: 0;
}

header ol li a {
  text-decoration: underline;
}

.photos_index main {
  display: flex;
}

nav input, nav label {
  display: none;
}

nav {
  flex: none;
  max-width: 180px;
  margin-right: 20px;
  vertical-align: top;
}

nav h1 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

nav ul {
  margin-top: 0;
  margin-bottom: 2rem;
}

/* This is both a flexbox item (of the main element) and a Flexbox container itself (for the photos). */
.photos {
  flex: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0;
  align-content: start;
}

.photos a img {
  width: 100%;
  height: auto;
}

.event_block {
  margin: 0;
  vertical-align: middle;
  font-size: 36px;
  font-weight: bold;
  color: #ddd;
  background-color: #222;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event_block.event_start {
  text-align: right;
}

.event_block.event_end {
  text-align: left;
}

.event_block.event_start:before {
  content: '\27fb';
  padding-right: 1rem;
}

.event_block.event_end:after {
  content: '\27fc';
  padding-left: 1rem;
}

.keywords {
  margin: 72px 72px 18px;
  line-height: 2;
}

.keywords a {
  white-space: nowrap;
}

.keywords a {
  text-decoration: none;
  font-size: 90%;
  color: white;
  background: linear-gradient(0deg, grey 20%, dimgrey 80%);
  border-radius: 20px;
  padding: 5px 10px;
}

.thumbnail, .stamp {
  line-height: 0;
  vertical-align: bottom;
}

.stamp {
  max-width: 96px;
  max-height: 96px;
}

.stamp.current {
  box-sizing: border-box;
  border: 3px solid lightblue;
}


.navigation_arrow {
  text-decoration: none;
  font-size: 72px;
  padding: 0 15px;
  color: black;
}

.streams {
  border-top: 1px solid #777;
}

.stream {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow-x: scroll;
}

header {
  border-bottom: 1px solid #777;
  margin-bottom: 2em;
}

footer {
  border-top: 1px solid #777;
  font-size: 80%;
  color: #444;
  margin-top: 2em;
  min-height: 100px;
}

/* Styles for the photo_show template */

body.photo_show {
  margin: 0;
}

.photo_show main h2, .photo_show p.description, .photo_show p.settings, .photo_show p.date, .photo_show .streams {
  margin-left: 100px;
  margin-right: 100px;
}

.photo_show .streams h2 {
  margin-left: 0;
  margin-right: 0;
}

.photo_show img {
  display: block;
}

.photo_with_pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo_with_pagination img {
  flex-grow: 2;
  object-fit: contain;
  min-width: 0;
  max-width: 100%;
}

/* --------- Mobile styles ---------- */
@media(max-width: 688px) {
  body {
    margin: 1rem 0;
  }

  header {
    margin-bottom: 1rem;
  }

  .photos_index main {
    display: block;
  }

  nav {
    max-width: initial;
    padding: 0 1rem 1rem;
    margin-bottom: 1rem;
    margin-right: 0;
    border-bottom: 1px solid #777;
  }


  nav section {
    display: none;
  }

  nav input:checked ~ section {
    display: block;
  }

  nav label {
    display: block;
    font-size: 140%;
  }

  nav label:before {
    content: "\2261  Open ";
  }

  nav input:checked + label:before {
    content: "\2261  Close ";
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
  }

  nav ul li {
    width: 50%;
  }

  .photos {
    grid-template-columns: repeat(3, 1fr);
  }

  .photo_with_pagination .navigation_arrow {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.75);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-weight: lighter;
  }

  .photo_with_pagination .navigation_arrow:last-child {
    right: 0;
    border-radius: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  .photo_show main h2, .photo_show p.description, .photo_show p.settings, .photo_show p.date, .photo_show .streams {
    margin-left: 1rem;
    margin-right: 1rem;
  }

}
