|
  {{#if breadcrumbs}}
    <ol>
    {{#each breadcrumbs as |crumb|}}
      {{#if @last}}
        <li>{{crumb.friendly_name}}</li>
      {{else}}
        {{#if crumb.link}}
          <li><a href="{{crumb.link}}">{{crumb.friendly_name}}</a></li>
        {{else}}
          <li>{{crumb.friendly_name}}</li>
        {{/if}}
      {{/if}}
    {{/each}}
    </ol>
  {{/if}}
