|
  {{#if stream.previous}}
    <a class="navigation_arrow" href="{{../include_prefix}}{{stream.previous.photo_show_path}}">&laquo;</a>
  {{/if}}
  {{#each stream.photos as |substream_photo|}}
    <a href="{{../../include_prefix}}{{substream_photo.photo_show_path}}">
      <img
        class="stamp{{#ifEqual substream_photo.hash ../../photo.hash}} current{{/ifEqual}}"
        src="{{../../include_prefix}}images/thumbnails/{{substream_photo.hash}}.{{substream_photo.file_name}}"
        alt="{{substream_photo.title}}" />
    </a>
  {{/each}}
  {{#if stream.next}}
    <a class="navigation_arrow" href="{{../include_prefix}}{{stream.next.photo_show_path}}">&raquo;</a>
  {{/if}}
